.manage-schedule-container {

    .m-s-title {
        text-transform: uppercase;
        margin-top    : 15px 0;
        font-weight   : 600;
        font-size     : 17px;
        text-align    : center;
    }

    .pick-hour-container {
        padding        : 20px 10px;
        display        : flex;
        justify-content: space-between;
        flex-wrap      : wrap;

        button {
            outline: none;
            cursor : pointer;
        }

        .btn-schedule {
            padding         : 5px 10px;
            border          : 1px solid grey !important;
            border-radius   : 8px;
            margin          : 5px;
            background-color: white;

            &.active {
                background-color: gainsboro;
            }


        }

    }

    .btn-save-schedule {
        margin-top: 10px;
    }
}